body {
  font-family: Arial;
  background: #111;
  color: white;
}

.chat-box {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #222;
  border-radius: 10px;
}

#messages {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

input {
  width: 70%;
  padding: 10px;
}

button {
  padding: 10px;
}
